packages:
  yum:
    amazon-cloudwatch-agent: []

files:
  "/opt/aws/amazon-cloudwatch-agent/etc/cwagent-mem.json":
    mode: "000644"
    owner: root
    group: root
    content: |
      {
        "agent": { "metrics_collection_interval": 60 },
        "metrics": {
          "namespace": "CommerceLink/Host",
          "append_dimensions": {
            "InstanceId": "${aws:InstanceId}"
          },
          "aggregation_dimensions": [["InstanceId"]],
          "metrics_collected": {
            "mem": {
              "measurement": ["mem_used_percent", "mem_used", "mem_available", "mem_total"]
            },
            "swap": {
              "measurement": ["swap_used_percent"]
            }
          }
        }
      }
