<th:block th:fragment="tag" xmlns:th="http://www.thymeleaf.org">
    <script th:if="${gtmContainerId != null}" th:inline="javascript">
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({"gtm.start": new Date().getTime(), event: "gtm.js"});
            var f = d.getElementsByTagName(s)[0];
            var j = d.createElement(s);
            var dl = l !== "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", [[${gtmContainerId}]]);
    </script>
</th:block>

<th:block th:fragment="noscript" xmlns:th="http://www.thymeleaf.org">
    <noscript th:if="${gtmContainerId != null}">
        <iframe th:src="'https://www.googletagmanager.com/ns.html?id=' + ${gtmContainerId}"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
</th:block>
