<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>

<div layout:fragment="content" class="container">

    <h1 class="title" th:text="#{offers.contact.title}"></h1>
    <p class="subtitle is-6" th:text="#{offers.contact.subtitle}"></p>

    <form th:action="@{/dashboard/offer/new}" th:object="${contactDetails}" method="post">
        <input type="hidden" name="intent" th:value="${intent}">
        <input type="hidden" name="sourceId" th:value="${sourceId}">

        <fieldset class="box">
            <legend class="label" th:text="#{offers.details}"></legend>
            <div class="field">
                <label class="label" th:text="#{offers.name}"></label>
                <div class="control">
                    <input class="input" type="text" name="offerName" th:placeholder="#{offers.name.placeholder}" required>
                </div>
            </div>
            <div class="field">
                <label class="label" th:text="#{offers.contact.gclid}"></label>
                <div class="control">
                    <input class="input" type="text" name="gclid">
                </div>
                <p class="help" th:text="#{offers.contact.gclid.help}"></p>
            </div>
        </fieldset>

        <fieldset class="box">
            <legend class="label" th:text="#{offers.contact.section}"></legend>
            <div class="field">
                <label class="label" th:text="#{offers.contact.name}"></label>
                <div class="control">
                    <input class="input" type="text" th:field="*{name}">
                </div>
            </div>

            <div class="field">
                <label class="label" th:text="#{offers.contact.surname}"></label>
                <div class="control">
                    <input class="input" type="text" th:field="*{surname}">
                </div>
            </div>

            <div class="field">
                <label class="label" th:text="#{offers.contact.company}"></label>
                <div class="control">
                    <input class="input" type="text" th:field="*{companyName}">
                </div>
            </div>

            <div class="field">
                <label class="label" th:text="#{offers.contact.email}"></label>
                <div class="control">
                    <input class="input" type="email" th:field="*{email}">
                </div>
            </div>

            <div class="field">
                <label class="label" th:text="#{offers.contact.phone}"></label>
                <div class="control">
                    <input class="input" type="tel" th:field="*{phone}">
                </div>
            </div>

            <p class="help" th:text="#{offers.contact.requirement}"></p>
        </fieldset>

        <div class="field is-grouped" style="margin-top: 20px">
            <div class="control">
                <button class="button is-primary" type="submit" th:text="#{offers.contact.submit}"></button>
            </div>
            <div class="control">
                <a th:href="@{/dashboard/offers}" class="button is-light" th:text="#{general.cancel}"></a>
            </div>
        </div>
    </form>

</div>

</body>
</html>
