<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>

<div layout:fragment="content">

    <section class="section">
        <div class="container">

            <h1 class="title" th:text="#{store.rma.settings}"></h1>

            <form th:action="@{/dashboard/store/rma}" th:object="${form}" method="post">

                <input type="hidden" th:field="*{store.storeId}"/>

                <div class="box">
                    <div class="field">
                        <label class="label" th:text="#{store.default.carrier.type}"></label>
                        <div class="control">
                            <div class="select">
                                <select th:field="*{store.rmaConfiguration.carrier.name}">
                                    <option value="" th:text="#{general.select}"></option>
                                    <option th:each="type : ${carrierTypes}" th:value="${type.name}" th:text="${type.displayName}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" type="button" onclick="confirmSave(this)"
                                th:text="#{general.save}"></button>
                    </div>
                    <div class="control">
                        <a th:href="@{/dashboard/store}" class="button is-light" th:text="#{general.cancel}"></a>
                    </div>
                </div>
            </form>

        </div>
    </section>

</div>

</body>
</html>