<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <section class="cl-page">
        <div class="cl-page-body">
            <div th:replace="~{fragments/settings-header :: subpage(${paymentsHref}, ${backLabel}, ${pageTitle})}"></div>

            <form th:fragment="optionForm" id="delivery-option-form" class="cl-form"
                  th:action="@{${formAction}}" th:object="${form}" method="post" novalidate data-cl-async
                  th:attr="data-cl-redirect=${redirectTo}, data-error-message=#{form.save.failed}">
                <div th:replace="~{fragments/settings-form :: errorSummary('delivery-option-errors', ${errors}, null)}"></div>

                <div class="cl-card">
                    <fieldset class="cl-fieldset">
                        <legend class="cl-fieldset-title" th:text="#{store.payments.delivery.section}"></legend>
                        <div class="cl-form-grid">
                            <div class="cl-span-4" th:insert="~{fragments/settings-form :: textField('name', 'store.payments.delivery.name', *{name}, 'text', 'off', true, ${errors['name']}, #{store.payments.delivery.name.help})}"></div>
                            <div class="cl-span-2" th:insert="~{fragments/settings-form :: textField('price', 'store.payments.delivery.priceLabel', *{price}, 'text', 'off', true, ${errors['price']}, null)}"></div>
                            <div th:insert="~{fragments/settings-form :: textField('description', 'store.payments.delivery.descriptionLabel', *{description}, 'text', 'off', false, ${errors['description']}, #{store.payments.delivery.descriptionLabel.help})}"></div>
                            <div class="cl-span-3" th:insert="~{fragments/settings-form :: selectField('type', 'store.payments.delivery.type', *{type}, ${types}, 'off', true, ${errors['type']}, #{store.payments.delivery.type.help})}"></div>
                        </div>
                        <p th:if="${editing}" class="cl-help" th:text="#{store.payments.delivery.editing.help}"></p>
                    </fieldset>
                    <div class="cl-card-footer">
                        <button class="cl-button is-primary" type="submit" th:text="#{store.payments.delivery.save}"></button>
                        <a class="cl-button" th:href="@{${paymentsHref}}" th:text="#{general.cancel}"></a>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <script th:if="${!errors.isEmpty()}">
        document.getElementById('delivery-option-errors').focus();
    </script>
    <script th:src="@{/js/async-form.js}" defer></script>
</div>
</body>
</html>
